* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }
  body.scrollDisabled {
    overflow: hidden; }
    @media (min-width: 800px) {
      body.scrollDisabled {
        overflow: auto; } }

@keyframes swipeIn {
  from {
    transform: translateX(-120%); }
  to {
    transform: translateX(0%); } }

@keyframes swipeOut {
  to {
    transform: translateX(-120%);
    opacity: 0; } }

@keyframes beVisible {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes beHidden {
  to {
    opacity: 0; } }

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

.header-hamburger {
  outline: none;
  border: none;
  width: 18px;
  height: 16px;
  background: none;
  position: relative;
  z-index: 6;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 800px) {
    .header-hamburger {
      display: none; } }
  .header-hamburger .line {
    width: 18px;
    height: 3px;
    background-color: #000;
    transition: all .5s;
    position: absolute; }
  .header-hamburger .line1 {
    top: 12px; }
  .header-hamburger .line2,
  .header-hamburger .line3 {
    height: 3px;
    top: 50%;
    transform: translateY(-50%); }
  .header-hamburger .line4 {
    bottom: 12px; }

.nav-active .line1 {
  transform: scale(0);
  visibility: hidden; }

.nav-active .line2 {
  transform: translateY(-50%) rotateZ(45deg);
  background-color: #fff; }

.nav-active .line3 {
  transform: translateY(-50%) rotateZ(-45deg);
  background-color: #fff; }

.nav-active .line4 {
  transform: scale(0);
  visibility: hidden; }

.btn {
  outline: none;
  background: none;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 1.4rem;
  transition: all .3s;
  padding: 1.2rem 1.4rem;
  cursor: pointer; }
  .btn-blue {
    background: #5368df;
    color: #fff;
    box-shadow: 0px 8px 5px -3px rgba(0, 0, 255, 0.2); }
    .btn-blue:hover {
      background: #fff;
      color: #5368df;
      border: 2px solid #5368df; }
    @media (min-width: 800px) {
      .btn-blue {
        padding: 1.5rem 2.5rem; } }
  .btn-gray {
    background: rgba(145, 148, 161, 0.1);
    color: #9194a1;
    box-shadow: 0px 8px 8px -3px rgba(0, 0, 0, 0.2); }
    .btn-gray:hover {
      border: 2px solid #252b46;
      background: #fff; }
    @media (min-width: 800px) {
      .btn-gray {
        padding: 1.5rem 2.5rem; } }

.download-card {
  width: 28rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 12px 12px 2px rgba(37, 43, 70, 0.1);
  border-radius: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem; }
  .download-card .card-img {
    margin-bottom: 3rem; }
  .download-card .card-heading {
    font-size: 2rem;
    font-weight: 500; }
  .download-card .card-desc {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    color: rgba(37, 43, 70, 0.8); }
  .download-card .card-dots {
    margin-top: 3rem; }
  .download-card .card-btn {
    width: 85%;
    padding: 1.4rem 1.6rem;
    margin-top: 2.5rem;
    letter-spacing: .5px; }

.heading {
  font-weight: 500; }
  .heading-primary {
    font-size: 3rem;
    color: #252b46;
    text-align: center;
    line-height: 3.6rem; }
    @media (min-width: 800px) {
      .heading-primary {
        font-size: 4.4rem;
        text-align: left;
        line-height: 4.8rem;
        letter-spacing: -.5px; } }
    @media (min-width: 1040px) {
      .heading-primary {
        font-size: 4.8rem; } }
  .heading-secondary {
    font-size: 2.4rem;
    color: #252b46;
    letter-spacing: -.5px; }
    @media (min-width: 800px) {
      .heading-secondary {
        font-size: 3.2rem; } }

.paragraph {
  color: #6a6d7c;
  line-height: 2.8rem;
  font-size: 1.5rem; }
  .paragraph-primary {
    margin-top: 1.5rem;
    text-align: center; }
    @media (min-width: 800px) {
      .paragraph-primary {
        margin-top: 2rem;
        text-align: left;
        font-size: 1.8rem; } }
  .paragraph-secondary {
    margin-top: 1.2rem;
    font-size: 1.5rem; }
    @media (min-width: 800px) {
      .paragraph-secondary {
        max-width: 55rem;
        margin: 0 auto;
        margin-top: 2rem;
        font-size: 1.8rem; } }
  .paragraph-tertiary {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 2rem; }

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 1.5rem; }

.nav-social-link {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-social-link:hover path {
    transition: all .3s;
    fill: #fa5757; }
  .nav-social-link:first-child {
    margin-right: 2rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .header-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem; }
    @media (min-width: 800px) {
      .header-wrapper {
        width: 85%;
        padding-right: 4rem;
        max-width: 120rem; } }
  .header.nav-active .header-logo * {
    fill: #fff;
    transition: all .5s; }
    @media (min-width: 800px) {
      .header.nav-active .header-logo * {
        fill: #000; } }
  @media (min-width: 800px) {
    .header.nav-active .header-logo circle {
      fill: #5267DF; } }
  .header.nav-active .header-logo .logo-flag {
    fill: #252b46;
    transition: all .5s; }
    @media (min-width: 800px) {
      .header.nav-active .header-logo .logo-flag {
        fill: #fff; } }
  .header.nav-active .header-nav {
    transform: translateY(0%); }
  .header-logo {
    position: relative;
    z-index: 6; }
  .header-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10rem;
    height: 100vh;
    background-color: rgba(37, 43, 70, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
    transform: translateY(-100%);
    z-index: 5;
    opacity: 1;
    backdrop-filter: blur(3px); }
    @media (min-width: 800px) {
      .header-nav {
        position: relative;
        padding-top: 0;
        height: auto;
        background: none;
        flex-direction: row;
        transform: translateY(0); } }
    .header-nav-list {
      width: 80%;
      max-width: 40rem;
      margin-top: 1.5rem; }
      @media (min-width: 800px) {
        .header-nav-list {
          width: auto;
          max-width: none;
          margin-top: 0;
          display: flex; } }
      .header-nav-list .header-nav-link {
        font-size: 2rem;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(145, 148, 161, 0.4);
        transition: color .5s;
        position: relative;
        transform-style: preserve-3d;
        transform-origin: top;
        transition: all .3s; }
        @media (min-width: 800px) {
          .header-nav-list .header-nav-link {
            font-size: 1.4rem;
            border-top: none;
            color: #252b46;
            margin-right: 4rem; } }
        .header-nav-list .header-nav-link:hover {
          color: #fa5757; }
          @media (min-width: 800px) {
            .header-nav-list .header-nav-link:hover {
              transform: rotateX(90deg); } }
        @media (min-width: 800px) {
          .header-nav-list .header-nav-link::after {
            content: attr(data-text);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fa5757;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            transform-origin: top;
            transform: rotateX(-90deg); } }
        .header-nav-list .header-nav-link:nth-last-child(1) {
          border-bottom: 1px solid rgba(145, 148, 161, 0.4); }
          @media (min-width: 800px) {
            .header-nav-list .header-nav-link:nth-last-child(1) {
              border-bottom: none; } }
    .header-nav .header-login-link {
      width: 80%;
      max-width: 40rem;
      border: 2px solid #fff;
      background-color: transparent;
      border-radius: 5px;
      color: #fff;
      padding: 1.5rem;
      text-align: center;
      margin-top: 2.5rem;
      font-size: 1.8rem;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all .5s; }
      @media (min-width: 800px) {
        .header-nav .header-login-link {
          border: 2px solid #fa5757;
          background-color: #fa5757;
          padding: 1rem 3rem;
          margin-top: 0;
          font-size: 1.4rem;
          box-shadow: 0px 10px 5px -3px rgba(0, 0, 0, 0.1); } }
      .header-nav .header-login-link:hover {
        border: 2px solid #fa5757; }
        @media (min-width: 800px) {
          .header-nav .header-login-link:hover {
            background-color: #fff;
            color: #fa5757; } }
    .header-nav-social {
      position: fixed;
      top: calc(100% - 8rem);
      max-width: 40rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      @media (min-width: 800px) {
        .header-nav-social {
          display: none; } }

.intro {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center; }
  .intro::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 75%;
    height: 50vw;
    max-height: 28rem;
    border-radius: 50rem 0 0 50rem;
    right: 0%;
    top: 16%;
    background-color: #5368df; }
    @media (min-width: 800px) {
      .intro::before {
        height: 35rem;
        max-height: none;
        right: -40%;
        top: 40%; } }
  .intro-wrapper {
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 8rem; }
    @media (min-width: 800px) {
      .intro-wrapper {
        width: 85%;
        max-width: 120rem;
        margin-top: 6rem;
        margin-bottom: 4rem;
        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: flex-start; } }
  .intro-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 800px) {
      .intro-img-wrapper {
        order: 2;
        min-width: 60rem;
        margin-right: -10rem; } }
    .intro-img-wrapper img {
      width: 115%;
      object-fit: cover;
      max-width: 60rem; }
      @media (min-width: 800px) {
        .intro-img-wrapper img {
          max-width: 65rem;
          margin-top: 4rem; } }
  .intro-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.5rem auto 0rem;
    max-width: 60rem; }
    @media (min-width: 800px) {
      .intro-content {
        align-items: flex-start;
        min-width: 55rem;
        margin: 0;
        padding-right: 4rem; } }
    .intro-content .intro-btn-wrapper {
      width: 100%;
      margin-top: 3rem;
      display: flex;
      justify-content: center; }
      @media (min-width: 800px) {
        .intro-content .intro-btn-wrapper {
          justify-content: flex-start;
          text-align: start;
          margin-left: 0; } }
      .intro-content .intro-btn-wrapper .chrome-btn {
        margin-right: 1.5rem; }

.features {
  display: flex;
  justify-content: center; }
  .features-wrapper {
    width: 85%;
    padding-top: 4rem;
    padding-bottom: 8rem;
    max-width: 60rem;
    text-align: center; }
    @media (min-width: 800px) {
      .features-wrapper {
        max-width: 120rem; } }
  .features-tabs {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column; }
    @media (min-width: 800px) {
      .features-tabs {
        margin: 6rem auto 0 auto;
        flex-direction: row;
        border-bottom: 1px solid rgba(145, 148, 161, 0.4);
        max-width: 70rem; } }
    .features-tabs .tab {
      outline: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-top: 1px solid rgba(145, 148, 161, 0.4);
      color: rgba(37, 43, 70, 0.8);
      cursor: pointer;
      position: relative;
      transition: color .3s; }
      @media (min-width: 800px) {
        .features-tabs .tab {
          padding-bottom: 2.5rem;
          border-top: none;
          flex: 1; } }
      .features-tabs .tab:nth-last-child(1) {
        border-bottom: 1px solid rgba(145, 148, 161, 0.4); }
        @media (min-width: 800px) {
          .features-tabs .tab:nth-last-child(1) {
            border-bottom: none; } }
      .features-tabs .tab.active {
        color: #252b46; }
      .features-tabs .tab.active::before {
        opacity: 1; }
      .features-tabs .tab::before {
        content: "";
        position: absolute;
        width: 18rem;
        height: 4px;
        background-color: #fa5757;
        top: 100%;
        transform: translateY(-100%);
        opacity: 0;
        transition: opacity .3s; }
        @media (min-width: 800px) {
          .features-tabs .tab::before {
            width: 100%; } }
  .features-feature {
    position: relative; }
    @media (min-width: 800px) {
      .features-feature {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 6rem;
        margin-right: 6rem;
        height: 40rem; } }
    .features-feature::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 150%;
      height: 50vw;
      max-height: 28rem;
      border-radius: 0 50rem 50rem 0;
      left: -80%;
      top: 4rem;
      background-color: #5368df; }
      @media (min-width: 800px) {
        .features-feature::before {
          width: 100%;
          height: 32rem;
          max-height: none;
          left: -70%;
          top: 8rem; } }
      @media (min-width: 1200px) {
        .features-feature::before {
          left: -54%; } }
    .features-feature .feature-imgWrapper {
      width: 100%;
      height: 75vw;
      max-height: 40rem;
      animation: swipeIn .8s ease-out; }
      @media (min-width: 800px) {
        .features-feature .feature-imgWrapper {
          width: 55rem;
          height: auto;
          max-height: none;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-right: 2rem; } }
      .features-feature .feature-imgWrapper.animAdded {
        animation: swipeOut .8s ease-out forwards; }
      .features-feature .feature-imgWrapper .feature-img {
        width: 100%;
        max-width: 45rem;
        object-fit: cover; }
        @media (min-width: 800px) {
          .features-feature .feature-imgWrapper .feature-img {
            width: 60rem;
            max-width: 60rem;
            transform-origin: right;
            padding-right: 6rem; } }
    .features-feature .feature-textWrapper {
      animation: beVisible .8s linear;
      width: 100%; }
      @media (min-width: 800px) {
        .features-feature .feature-textWrapper {
          text-align: left;
          padding: 6rem 0rem;
          min-width: 40rem;
          max-width: 50rem; } }
      @media (min-width: 1200px) {
        .features-feature .feature-textWrapper {
          padding: 6rem 0rem 6rem 6rem; } }
      .features-feature .feature-textWrapper.animAdded {
        animation: beHidden .8s linear forwards; }
      .features-feature .feature-textWrapper .feature-btn {
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem; }

.downloads {
  display: flex;
  justify-content: center; }
  .downloads-wrapper {
    padding-top: 4rem;
    padding-bottom: 8rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 800px) {
      .downloads-wrapper {
        max-width: 120rem;
        margin-top: 4rem; } }
  .downloads-cards-wrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 30rem; }
    @media (min-width: 800px) {
      .downloads-cards-wrapper {
        flex-direction: row; } }
    @media (min-width: 1040px) {
      .downloads-cards-wrapper {
        flex-wrap: nowrap; } }
    @media (min-width: 800px) {
      .downloads-cards-wrapper .download-card {
        margin-right: 1.7rem;
        margin-left: 1.7rem; } }
    @media (min-width: 1040px) {
      .downloads-cards-wrapper .download-card:nth-child(2) {
        transform: translateY(4rem); } }
    @media (min-width: 1040px) {
      .downloads-cards-wrapper .download-card:nth-child(3) {
        transform: translateY(8rem); } }

.faqs {
  display: flex;
  justify-content: center; }
  .faqs-wrapper {
    padding-top: 4rem;
    padding-bottom: 12rem;
    width: 80%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 1040px) {
      .faqs-wrapper {
        margin-top: 6rem; } }
  .faqs-accordion {
    width: 105%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .faqs-accordion .faq {
      border-bottom: 1px solid rgba(145, 148, 161, 0.2);
      width: 100%; }
    .faqs-accordion .faq:first-child {
      border-top: 1px solid rgba(145, 148, 161, 0.2); }
    .faqs-accordion .faq[open] .faq-question {
      color: #fa5757; }
    .faqs-accordion .faq[open] .faq-question + .faq-answer {
      animation: sweep .5s ease-in-out; }
    .faqs-accordion .faq[open] .faq-arrow {
      transform: rotateZ(180deg); }
      .faqs-accordion .faq[open] .faq-arrow path {
        stroke: #fa5757; }
    .faqs-accordion .faq-arrow {
      transition: transform .5s; }
      .faqs-accordion .faq-arrow path {
        transition: all .5s; }
    .faqs-accordion .faq-question {
      outline: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #252b46;
      transition: color .3s;
      cursor: pointer; }
      .faqs-accordion .faq-question:hover {
        color: #fa5757; }
      .faqs-accordion .faq-question::-webkit-details-marker {
        display: none; }
  .faqs .faqs-btn {
    padding-left: 2rem;
    padding-right: 2rem; }

.register {
  display: flex;
  justify-content: center;
  background-color: #5368df; }
  .register-wrapper {
    padding-top: 8rem;
    padding-bottom: 6rem;
    width: 85%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 800px) {
      .register-wrapper {
        max-width: 50rem; } }
  .register-info {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff; }
  .register-heading {
    font-size: 2.4rem;
    font-weight: 500;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    @media (min-width: 800px) {
      .register-heading {
        font-size: 3.4rem; } }
  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative; }
    @media (min-width: 550px) {
      .register-form {
        flex-direction: row;
        justify-content: space-between; } }
    .register-form .form-input {
      outline: none;
      border: none;
      padding: 1.6rem;
      font-size: 1.4rem;
      border-radius: 5px;
      z-index: 2;
      border: 2px solid transparent; }
      @media (min-width: 550px) {
        .register-form .form-input {
          width: 65%; } }
      .register-form .form-input::placeholder {
        opacity: .5; }
    .register-form .form-btn {
      padding: 1.6rem;
      color: #fff;
      font-size: 1.4rem;
      background-color: #fa5757;
      margin-top: 2rem;
      border-radius: 5px;
      transition: all .3s; }
      @media (min-width: 550px) {
        .register-form .form-btn {
          margin-top: 0;
          width: 32%; } }
      .register-form .form-btn:hover {
        background: #fff;
        color: #fa5757;
        border: 2px solid #fa5757; }
    .register-form .form-warning-text {
      display: none;
      width: 100%;
      color: #fff;
      text-align: start;
      padding: 1.7rem 1rem 1rem 1rem;
      font-size: 1.2rem;
      font-style: italic;
      background-color: #fa5757;
      border-radius: 5px;
      margin-top: -10px; }
      @media (min-width: 550px) {
        .register-form .form-warning-text {
          position: absolute;
          width: 65%;
          top: 100%; } }
    .register-form .form-success-text {
      width: 100%;
      display: none;
      font-size: 1.2rem;
      color: #fff;
      background-color: rgba(40, 167, 69, 0.7);
      border-radius: 5px;
      margin-top: -10px;
      font-style: italic;
      padding: 1.7rem 1rem 1rem 1rem;
      text-align: start; }
      @media (min-width: 550px) {
        .register-form .form-success-text {
          position: absolute;
          width: 65%;
          top: 100%; } }
    .register-form .form-error {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 26px;
      transform: translateY(-50%);
      margin-right: 15px;
      z-index: 2; }
      @media (min-width: 550px) {
        .register-form .form-error {
          left: 58%; } }

.footer {
  display: flex;
  justify-content: center;
  background-color: #252b46; }
  .footer-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 85%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 800px) {
      .footer-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 120rem;
        flex-direction: row; } }
  .footer-logo {
    width: max-content; }
  .footer-nav-list {
    width: 80%;
    max-width: 40rem;
    margin-top: 1.5rem; }
    @media (min-width: 800px) {
      .footer-nav-list {
        width: auto;
        max-width: none;
        display: flex;
        flex-direction: row;
        margin-top: 0;
        flex: 3 0 60%;
        padding-left: 8rem; } }
    .footer-nav-list .footer-nav-link {
      font-size: 1.4rem;
      padding-top: 2rem;
      transition: color .3s; }
      @media (min-width: 800px) {
        .footer-nav-list .footer-nav-link {
          padding: 0;
          margin-right: 4rem; } }
      .footer-nav-list .footer-nav-link:hover {
        color: #fa5757; }
  .footer-nav-social {
    max-width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem; }
    @media (min-width: 800px) {
      .footer-nav-social {
        justify-content: center;
        margin-top: 0;
        flex: 1 0 10%; } }
