* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }
  body.scrollDisabled {
    overflow-y: hidden; }
    @media (min-width: 800px) {
      body.scrollDisabled {
        overflow-y: auto; } }

.btn {
  border: none;
  outline: none;
  background: none;
  border-radius: 7px;
  border: 2px solid transparent;
  transition: all .3s;
  cursor: pointer; }

@keyframes swipeIn {
  from {
    transform: translateX(-120%); }
  to {
    transform: translateX(0%); } }

@keyframes swipeOut {
  to {
    transform: translateX(-120%);
    opacity: 0; } }

@keyframes beVisible {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes beHidden {
  to {
    opacity: 0; } }

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .header-wrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem; }
    @media (min-width: 800px) {
      .header-wrapper {
        width: 100%;
        max-width: 120rem;
        padding-left: 4rem;
        padding-right: 8rem; } }
  .header.nav-active .line1 {
    transform: scale(0);
    visibility: hidden; }
  .header.nav-active .line2 {
    transform: translateY(-50%) rotateZ(45deg);
    background-color: #fff; }
  .header.nav-active .line3 {
    transform: translateY(-50%) rotateZ(-45deg);
    background-color: #fff; }
  .header.nav-active .line4 {
    transform: scale(0);
    visibility: hidden; }
  .header.nav-active .header-logo * {
    fill: #fff;
    transition: all .5s; }
    @media (min-width: 800px) {
      .header.nav-active .header-logo * {
        fill: #000; } }
  @media (min-width: 800px) {
    .header.nav-active .header-logo circle {
      fill: #5267DF; } }
  .header.nav-active .header-logo .logo-flag {
    fill: #252b46;
    transition: all .5s; }
    @media (min-width: 800px) {
      .header.nav-active .header-logo .logo-flag {
        fill: #fff; } }
  .header.nav-active .header-nav {
    transform: translateY(0%); }
  .header-logo {
    position: relative;
    z-index: 6; }
  .header-hamburger {
    outline: none;
    border: none;
    width: 18px;
    height: 16px;
    background: none;
    position: relative;
    z-index: 6;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 800px) {
      .header-hamburger {
        display: none; } }
    .header-hamburger .line {
      width: 18px;
      height: 3px;
      background-color: #000;
      transition: all .5s;
      position: absolute; }
    .header-hamburger .line1 {
      top: 12px; }
    .header-hamburger .line2,
    .header-hamburger .line3 {
      height: 3px;
      top: 50%;
      transform: translateY(-50%); }
    .header-hamburger .line4 {
      bottom: 12px; }
  .header-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10rem;
    height: 100vh;
    background-color: rgba(37, 43, 70, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
    transform: translateY(-100%);
    z-index: 5;
    opacity: 1;
    backdrop-filter: blur(3px); }
    @media (min-width: 800px) {
      .header-nav {
        transform: translateY(0);
        position: relative;
        height: auto;
        padding: unset;
        flex-direction: row;
        background: none;
        backdrop-filter: unset; } }
    .header-nav-list {
      width: 80%;
      max-width: 40rem;
      margin-top: 1.5rem; }
      @media (min-width: 800px) {
        .header-nav-list {
          max-width: none;
          width: auto;
          margin-top: 0;
          display: flex; } }
      .header-nav-list .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: 1px solid rgba(145, 148, 161, 0.4);
        transition: color .5s; }
        @media (min-width: 800px) {
          .header-nav-list .nav-link {
            font-size: 1.4rem;
            color: #252b46;
            border-top: none;
            margin-right: 4rem; } }
        .header-nav-list .nav-link:nth-last-child(1) {
          border-bottom: 1px solid rgba(145, 148, 161, 0.4); }
          @media (min-width: 800px) {
            .header-nav-list .nav-link:nth-last-child(1) {
              border-bottom: none; } }
        .header-nav-list .nav-link:hover {
          color: #fa5757; }
    .header-nav-btn {
      outline: none;
      width: 80%;
      max-width: 40rem;
      border: 2px solid #fff;
      color: #fff;
      padding: 1rem;
      margin-top: 2.5rem;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 2px;
      background-color: transparent;
      transition: all .5s; }
      @media (min-width: 800px) {
        .header-nav-btn {
          margin-top: 0;
          background-color: #fa5757;
          padding: 1rem 3rem;
          font-size: 1.4rem;
          border: none;
          box-shadow: 0px 10px 5px -3px rgba(0, 0, 0, 0.1); } }
      .header-nav-btn:hover {
        border: 2px solid #fa5757; }
        @media (min-width: 800px) {
          .header-nav-btn:hover {
            border: none; } }
    .header-nav-social {
      position: fixed;
      top: calc(100% - 8rem);
      max-width: 40rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      @media (min-width: 800px) {
        .header-nav-social {
          display: none; } }
      .header-nav-social a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .header-nav-social a:nth-last-child(1) {
        margin-left: 2rem; }

.intro {
  position: relative; }
  .intro::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 75%;
    height: 50vw;
    max-height: 28rem;
    border-radius: 15rem 0 0 15rem;
    right: 0%;
    top: 16%;
    background-color: #5368df; }
    @media (min-width: 800px) {
      .intro::before {
        right: -35%;
        height: 25vw;
        top: 35%;
        max-height: 30rem; } }
  .intro-wrapper {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 8rem;
    margin: 0 auto; }
    @media (min-width: 800px) {
      .intro-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 120rem; } }
  .intro-img-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 800px) {
      .intro-img-wrapper {
        order: 2;
        width: 100%; } }
    .intro-img-wrapper img {
      width: 100%;
      object-fit: cover;
      max-width: 50rem; }
      @media (min-width: 800px) {
        .intro-img-wrapper img {
          max-width: 60rem;
          width: 100%;
          margin-top: 4rem; } }
  .intro-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: 5.5rem auto 0rem;
    max-width: 60rem; }
    @media (min-width: 800px) {
      .intro-content {
        margin: 0;
        padding-left: 4rem;
        align-items: flex-start;
        width: auto;
        max-width: 55rem; } }
    .intro-content .intro-header {
      font-size: 2.8rem;
      color: #252b46;
      text-align: center;
      line-height: 3.6rem;
      font-weight: 500; }
      @media (min-width: 800px) {
        .intro-content .intro-header {
          text-align: left;
          font-size: 4.4rem;
          letter-spacing: 1px;
          line-height: 4.5rem; } }
    .intro-content .intro-desc {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      color: #9194a1;
      text-align: center;
      line-height: 2.6rem; }
      @media (min-width: 800px) {
        .intro-content .intro-desc {
          margin-top: 2rem;
          text-align: left;
          font-size: 1.8rem; } }
    .intro-content .intro-btn-wrapper {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      margin-top: 3rem;
      display: flex;
      justify-content: center; }
      @media (min-width: 800px) {
        .intro-content .intro-btn-wrapper {
          justify-content: flex-start;
          text-align: start;
          margin-left: 0; } }
      .intro-content .intro-btn-wrapper .chrome-btn {
        color: #fff;
        background: #5368df;
        margin-right: 1.5rem;
        box-shadow: 0px 8px 5px -3px rgba(0, 0, 255, 0.2);
        padding: 1.2rem 1.5rem; }
        .intro-content .intro-btn-wrapper .chrome-btn:hover {
          border: 2px solid #5368df;
          background: #fff;
          color: #5368df;
          box-shadow: 0px -8px 5px -3px rgba(0, 20, 255, 0.2); }
      .intro-content .intro-btn-wrapper .firefox-btn {
        background: rgba(145, 148, 161, 0.1);
        box-shadow: 0px 8px 8px -3px rgba(0, 0, 0, 0.2);
        padding: 1.2rem 1.5rem; }
        .intro-content .intro-btn-wrapper .firefox-btn:hover {
          border: 2px solid #252b46;
          box-shadow: 0px -8px 8px -3px rgba(0, 0, 0, 0.2); }

.features {
  display: flex;
  justify-content: center; }
  .features-wrapper {
    padding-top: 4rem;
    padding-bottom: 8rem;
    width: 85%;
    max-width: 60rem;
    text-align: center; }
    @media (min-width: 800px) {
      .features-wrapper {
        max-width: 120rem; } }
  .features-header {
    font-size: 2.4rem;
    color: #252b46;
    font-weight: 500;
    letter-spacing: -.5px; }
  .features-desc {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    color: #9194a1;
    line-height: 2.6rem; }
    @media (min-width: 800px) {
      .features-desc {
        max-width: 45rem;
        margin: 0 auto;
        margin-top: 2rem; } }
  .features-tabs {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column; }
    @media (min-width: 800px) {
      .features-tabs {
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid rgba(145, 148, 161, 0.4);
        max-width: 60rem;
        margin: 0 auto;
        margin-top: 6rem; } }
    .features-tabs .tab {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-top: 1px solid rgba(145, 148, 161, 0.4);
      color: #9194a1;
      position: relative; }
      @media (min-width: 800px) {
        .features-tabs .tab {
          border-top: none;
          flex: 1; } }
      .features-tabs .tab:nth-last-child(1) {
        border-bottom: 1px solid rgba(145, 148, 161, 0.4); }
        @media (min-width: 800px) {
          .features-tabs .tab:nth-last-child(1) {
            border-bottom: none; } }
      .features-tabs .tab.active::before {
        opacity: 1; }
      .features-tabs .tab::before {
        content: "";
        position: absolute;
        width: 18rem;
        height: 4px;
        background-color: #fa5757;
        top: 100%;
        transform: translateY(-100%);
        opacity: 0;
        transition: opacity .3s; }
        @media (min-width: 800px) {
          .features-tabs .tab::before {
            width: 100%; } }
  .features-feature {
    position: relative; }
    @media (min-width: 800px) {
      .features-feature {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 6rem; } }
    .features-feature::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 150%;
      height: 50vw;
      max-height: 28rem;
      border-radius: 0 15rem 15rem 0;
      left: -80%;
      top: 4rem;
      background-color: #5368df; }
      @media (min-width: 800px) {
        .features-feature::before {
          width: 100%;
          left: -120%;
          max-height: 35rem;
          left: -58%;
          top: 8rem;
          height: 30vw; } }
    .features-feature .feature-imgWrapper {
      width: 100%;
      height: 75vw;
      min-height: 27rem;
      max-height: 40rem;
      animation: swipeIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1); }
      @media (min-width: 800px) {
        .features-feature .feature-imgWrapper {
          text-align: left;
          flex: 1.4;
          display: flex;
          justify-content: center;
          align-items: flex-start; } }
      .features-feature .feature-imgWrapper.animAdded {
        animation: swipeOut 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .features-feature .feature-imgWrapper img {
        width: 100%;
        object-fit: cover;
        max-width: 45rem; }
        @media (min-width: 800px) {
          .features-feature .feature-imgWrapper img {
            max-width: 50rem; } }
    .features-feature .feature-textWrapper {
      animation: beVisible .8s linear; }
      @media (min-width: 800px) {
        .features-feature .feature-textWrapper {
          text-align: left;
          padding-left: 2rem;
          padding-top: 6rem;
          flex: 1; } }
      .features-feature .feature-textWrapper.animAdded {
        animation: beHidden .8s linear forwards; }
      .features-feature .feature-textWrapper .feature-heading {
        font-size: 2.4rem;
        color: #252b46;
        font-weight: 500;
        letter-spacing: -.5px; }
        @media (min-width: 800px) {
          .features-feature .feature-textWrapper .feature-heading {
            font-size: 3.2rem; } }
      .features-feature .feature-textWrapper .feature-desc {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        color: #9194a1;
        line-height: 2.6rem; }
        @media (min-width: 800px) {
          .features-feature .feature-textWrapper .feature-desc {
            font-size: 1.8rem; } }
      .features-feature .feature-textWrapper .feature-btn {
        color: #fff;
        background: #5368df;
        margin-right: 1rem;
        box-shadow: 0px 8px 5px -3px rgba(0, 0, 255, 0.2);
        padding: 1.5rem 3rem; }
        @media (min-width: 800px) {
          .features-feature .feature-textWrapper .feature-btn {
            margin-top: 1.1rem; } }

.downloads {
  display: flex;
  justify-content: center; }
  .downloads-wrapper {
    padding-top: 4rem;
    padding-bottom: 8rem;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 750px) {
      .downloads-wrapper {
        max-width: 120rem; } }
  .downloads-header {
    font-size: 2.4rem;
    color: #252b46;
    font-weight: 500;
    letter-spacing: -0.05px; }
  .downloads-desc {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    color: #9194a1;
    line-height: 2.6rem;
    max-width: 60rem; }
    @media (min-width: 750px) {
      .downloads-desc {
        max-width: 45rem; } }
  .downloads-cards-wrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 30rem; }
    @media (min-width: 750px) {
      .downloads-cards-wrapper {
        flex-direction: row; } }
    @media (min-width: 1040px) {
      .downloads-cards-wrapper {
        flex-wrap: nowrap; } }
    .downloads-cards-wrapper .download-card {
      margin-bottom: 4rem;
      width: 28rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 12px 12px 2px rgba(37, 43, 70, 0.1);
      border-radius: 1rem;
      padding-top: 4rem;
      padding-bottom: 2.5rem; }
      @media (min-width: 750px) {
        .downloads-cards-wrapper .download-card {
          margin-right: 1.5rem;
          margin-left: 1.5rem; } }
      @media (min-width: 1040px) {
        .downloads-cards-wrapper .download-card:nth-child(2) {
          transform: translateY(4rem); } }
      @media (min-width: 1040px) {
        .downloads-cards-wrapper .download-card:nth-child(3) {
          transform: translateY(8rem); } }
      .downloads-cards-wrapper .download-card .card-img {
        margin-bottom: 3rem; }
      .downloads-cards-wrapper .download-card .card-heading {
        font-size: 2rem;
        font-weight: 500; }
      .downloads-cards-wrapper .download-card .card-desc {
        margin-top: 1.2rem;
        font-size: 1.5rem;
        color: #9194a1; }
      .downloads-cards-wrapper .download-card .card-dots {
        margin-top: 3rem; }
      .downloads-cards-wrapper .download-card .card-btn {
        outline: none;
        width: 85%;
        border: 2px solid #fff;
        color: #fff;
        padding: 1.8rem;
        margin-top: 2.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        background: #5368df;
        transition: all .5s;
        border-radius: .7rem; }

.faqs {
  display: flex;
  justify-content: center; }
  .faqs-wrapper {
    padding-top: 4rem;
    padding-bottom: 8rem;
    width: 85%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 750px) {
      .faqs-wrapper {
        max-width: 45rem; } }
    @media (min-width: 1040px) {
      .faqs-wrapper {
        margin-top: 6rem; } }
  .faqs-header {
    font-size: 2.4rem;
    color: #252b46;
    font-weight: 500;
    letter-spacing: -0.05px; }
  .faqs-desc {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    color: #9194a1;
    line-height: 2.6rem; }
  .faqs-QA {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .faqs-QA details {
      padding-top: 2rem;
      border-bottom: 1px solid #9194a1;
      width: 100%;
      transition: height 1s; }
    .faqs-QA details[open] .faqs-question {
      color: #fa5757; }
    .faqs-QA details[open] .faqs-question ~ * {
      animation: sweep .5s ease-in-out; }
    .faqs-QA details[open] .faqs-arrow {
      transform: rotateZ(180deg); }
      .faqs-QA details[open] .faqs-arrow path {
        stroke: #fa5757; }
    .faqs-QA .faqs-arrow {
      transition: transform .5s; }
      .faqs-QA .faqs-arrow path {
        transition: all .5s; }
    .faqs-QA .faqs-question {
      font-size: 1.5rem;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 500;
      padding-bottom: 2rem;
      color: #252b46;
      text-align: start;
      outline: none;
      transition: color .5s; }
      .faqs-QA .faqs-question::-webkit-details-marker {
        display: none; }
    .faqs-QA .faqs-answer {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #9194a1;
      text-align: start;
      padding-bottom: 2rem; }
  .faqs-btn {
    color: #fff;
    background: #5368df;
    margin-right: 1rem;
    box-shadow: 0px 8px 5px -3px rgba(0, 0, 255, 0.2);
    padding: 1.5rem 3rem; }

.register {
  display: flex;
  justify-content: center;
  background-color: #5368df; }
  .register-wrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;
    width: 85%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 750px) {
      .register-wrapper {
        max-width: 45rem; } }
  .register-info {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff; }
  .register-header {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 4rem; }
  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative; }
    @media (min-width: 550px) {
      .register-form {
        flex-direction: row;
        justify-content: space-between; } }
    .register-form .form-input {
      width: 100%;
      outline: none;
      border: none;
      padding: 1.8rem;
      font-size: 1.4rem;
      border-radius: 5px;
      z-index: 2; }
      @media (min-width: 550px) {
        .register-form .form-input {
          width: 65%; } }
      .register-form .form-input::placeholder {
        opacity: .5; }
    .register-form .form-warning {
      display: none;
      width: 100%;
      color: #fff;
      text-align: start;
      padding: 1.7rem 1rem 1rem 1rem;
      font-size: 1.2rem;
      font-style: italic;
      background-color: #fa5757;
      border-radius: 5px;
      margin-top: -10px; }
      @media (min-width: 550px) {
        .register-form .form-warning {
          position: absolute;
          width: 65%;
          top: 100%; } }
    .register-form .form-success {
      width: 100%;
      display: none;
      font-size: 1.2rem;
      color: #fff;
      background-color: rgba(40, 167, 69, 0.7);
      border-radius: 5px;
      margin-top: -10px;
      font-style: italic;
      padding: 1.7rem 1rem 1rem 1rem;
      text-align: start; }
      @media (min-width: 550px) {
        .register-form .form-success {
          position: absolute;
          width: 65%;
          top: 100%; } }
    .register-form .form-error {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 26px;
      transform: translateY(-50%);
      margin-right: 15px;
      z-index: 2; }
      @media (min-width: 550px) {
        .register-form .form-error {
          left: 58%; } }
    .register-form .form-btn {
      padding: 1.8rem;
      color: #fff;
      font-size: 1.4rem;
      background-color: #fa5757;
      margin-top: 2rem;
      border-radius: 5px;
      border: none; }
      @media (min-width: 550px) {
        .register-form .form-btn {
          margin-top: 0;
          width: 32%; } }

.footer {
  display: flex;
  justify-content: center;
  background-color: #252b46; }
  .footer-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 85%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .footer-nav-list {
    width: 80%;
    max-width: 40rem;
    margin-top: 1.5rem; }
    .footer-nav-list .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.4rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      transition: color .5s; }
  .footer-nav-social {
    max-width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem; }
    .footer-nav-social a {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .footer-nav-social a:nth-last-child(1) {
      margin-left: 2rem; }
