// -----------
// * COLORS *
// -----------

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

// ----------
// * FONTS *
// ----------
$rubik:'Rubik', sans-serif;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;

    &.scrollDisabled {
        overflow: hidden;

        @media (min-width:800px) {
            overflow: auto;
        }
    }
}
