* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
}

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$rubik:'Rubik',
sans-serif;

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;

    &.scrollDisabled {
        overflow-y: hidden;

        @media (min-width:800px) {
            overflow-y: auto;
        }
    }
}

.btn {
    border: none;
    outline: none;
    background: none;
    border-radius: 7px;
    border: 2px solid transparent;
    transition: all .3s;
    cursor: pointer;
}

.paragraph {
    color: hsl(229, 8%, 60%);
    line-height: 2.8rem;
    font-size: 1.5rem;

    &-primary {
        margin-top: 1.5rem;
        text-align: center;

        @media (min-width:800px) {
            margin-top: 2rem;
            text-align: left;
            font-size: 1.8rem;
        }
    }

    &-secondary {
        margin-top: 1.2rem;
        font-size: 1.5rem;

        @media (min-width:800px) {
            max-width: 55rem;
            margin: 0 auto;
            margin-top: 2rem;
            font-size: 1.8rem;
        } 
    }

    &-tertiary {
        font-size: 1.5rem;
        text-align: left;
        padding-bottom: 2rem;
    }
}


.heading {
    font-weight: 500;

    &-primary {
        font-size: 2.8rem;
        color: $very-dark-blue;
        text-align: center;
        line-height: 3.6rem;

        @media (min-width:800px) {
            font-size: 4.4rem;
            text-align: left;
            line-height: 4.8rem;
            letter-spacing: -.5px;
        }

        @media (min-width:1040px) {
            font-size: 4.8rem;
        }
    }

    &-secondary {
        font-size: 2.4rem;
        color: $very-dark-blue;
        letter-spacing: -.5px;

        @media (min-width:800px) {
            font-size: 3.2rem;
        }
    }
}