@import "base";
@import "animations";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-wrapper {
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0rem;

        @media (min-width:800px) {
            width: 100%;
            max-width: 120rem;
            padding-left: 4rem;
            padding-right: 8rem;
        }

    }

    &.nav-active {
        .line1 {
            transform: scale(0);
            visibility: hidden;
        }

        .line2 {
            transform: translateY(-50%) rotateZ(45deg);
            background-color: #fff;
        }

        .line3 {
            transform: translateY(-50%) rotateZ(-45deg);
            background-color: #fff;
        }

        .line4 {
            transform: scale(0);
            visibility: hidden;
        }

        .header-logo {
            * {
                fill: #fff;
                transition: all .5s;

                @media (min-width:800px) {
                    fill: #000;
                }
            }

            circle {
                @media (min-width:800px) {
                    fill: #5267DF;
                }
            }

            .logo-flag {
                fill: $very-dark-blue;
                transition: all .5s;

                @media (min-width:800px) {
                    fill: #fff;
                }
            }
        }

        .header-nav {
            transform: translateY(0%);
        }
    }

    &-logo {
        position: relative;
        z-index: 6;
    }

    &-hamburger {
        outline: none;
        border: none;
        width: 18px;
        height: 16px;
        background: none;
        position: relative;
        z-index: 6;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width:800px) {
            display: none;
        }

        .line {
            width: 18px;
            height: 3px;
            background-color: #000;
            transition: all .5s;
            position: absolute;
        }

        .line1 {
            top: 12px;
        }

        .line2,
        .line3 {
            height: 3px;
            top: 50%;
            transform: translateY(-50%);
        }

        .line4 {
            bottom: 12px;
        }
    }

    &-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 10rem;
        height: 100vh;
        min-height: 0vh;
        background-color: rgba($very-dark-blue, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform .5s;
        transform: translateY(-100%);
        z-index: 5;
        opacity: 1;
        backdrop-filter: blur(3px);

        @media (min-width:800px) {
            transform: translateY(0);
            position: relative;
            height: auto;
            padding: unset;
            flex-direction: row;
            background: none;
            backdrop-filter: unset;

        }

        &-list {
            width: 80%;
            max-width: 40rem;
            margin-top: 1.5rem;

            @media (min-width:800px) {
                max-width: none;
                width: auto;
                margin-top: 0;
                display: flex;
            }

            .nav-link {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: #fff;
                font-weight: 400;
                letter-spacing: 2px;
                font-size: 2rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                border-top: 1px solid rgba($grayish-blue, .4);
                transition: color .5s;
                position: relative;
                transform-style: preserve-3d;
                transition: all .3s;
                transform-origin: top;

                &::after {
                    @media (min-width:800px) {
                        content: attr(data-text);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $soft-red;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 100%;
                        transform-origin: top;
                        transform: rotateX(-90deg);
                    }
                }

                &:hover {
                    color: $soft-red;

                    @media (min-width:800px) {
                        transform: rotateX(90deg);
                    }

                }

                @media (min-width:800px) {
                    font-size: 1.4rem;
                    color: $very-dark-blue;
                    border-top: none;
                    margin-right: 4rem;
                }

                &:nth-last-child(1) {
                    border-bottom: 1px solid rgba($grayish-blue, .4);

                    @media (min-width:800px) {
                        border-bottom: none;
                    }
                }
            }
        }

        .header-login-link {
            width: 80%;
            max-width: 40rem;
            border: 2px solid #fff;
            color: #fff;
            padding: 1rem;
            text-align: center;
            margin-top: 2.5rem;
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 2px;
            background-color: transparent;
            cursor: pointer;
            transition: all .5s;

            @media (min-width:800px) {
                margin-top: 0;
                background-color: $soft-red;
                padding: 1rem 3rem;
                font-size: 1.4rem;
                border: 2px solid $soft-red;
                box-shadow: 0px 10px 5px -3px rgba(#000, .1);
            }

            &:hover {
                border: 2px solid $soft-red;

                @media (min-width:800px) {
                    background-color: #fff;
                    color: $soft-red;

                }
            }
        }

        &-social {
            position: fixed;
            top: calc(100% - 8rem);
            max-width: 40rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media (min-width:800px) {
                display: none;
            }

            a {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }


            a:nth-last-child(1) {
                margin-left: 2rem;
            }


        }
    }
}

.intro {
    position: relative;
    overflow-x: hidden;

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        width: 75%;
        height: 50vw;
        max-height: 28rem;
        border-radius: 15rem 0 0 15rem;
        right: 0%;
        top: 16%;
        background-color: hsl(231, 69%, 60%);

        @media (min-width:800px) {
            right: -35%;
            height: 25vw;
            top: 35%;
            max-height: 30rem;

        }
    }

    &-wrapper {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 8rem;
        margin: 0 auto;

        @media (min-width:800px) {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 120rem;
            height: 50rem;
        }

    }

    &-img-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width:800px) {
            order: 2;
            width: 100%;
        }

        img {
            width: 100%;
            object-fit: cover;
            max-width: 50rem;

            @media (min-width:800px) {
                max-width: 60rem;
                width: 100%;
                margin-top: 4rem;
            }
        }
    }

    &-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: .5rem;
        padding-right: .5rem;
        margin: 5.5rem auto 0rem;
        max-width: 60rem;

        @media (min-width:800px) {
            margin: 0;
            padding-left: 4rem;
            align-items: flex-start;
            width: auto;
            max-width: 55rem;
        }

        .intro-btn-wrapper {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            margin-top: 3rem;
            display: flex;
            justify-content: center;

            @media (min-width:800px) {
                justify-content: flex-start;
                text-align: start;
                margin-left: 0;
            }

            .chrome-btn {
                margin-right: 1.5rem;
            }
        }
    }
}

.features {
    display: flex;
    justify-content: center;

    &-wrapper {
        padding-top: 4rem;
        padding-bottom: 8rem;
        width: 85%;
        max-width: 60rem;
        text-align: center;

        @media (min-width:800px) {
            max-width: 120rem;
        }
    }

    .heading-secondary {
        font-size: 2.4rem;
        color: $very-dark-blue;
        font-weight: 500;
        letter-spacing: -0.05px;

        @media (min-width:800px) {
            font-size: 3.2rem;
        }
    }

    &-tabs {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;

        @media (min-width:800px) {
            flex-direction: row;
            justify-content: space-around;
            border-bottom: 1px solid rgba($grayish-blue, .4);
            max-width: 70rem;
            margin: 0 auto;
            margin-top: 6rem;
        }

        .tab {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            border-top: 1px solid rgba($grayish-blue, .4);
            color: $grayish-blue;
            cursor: pointer;
            position: relative;
            transition: color .3s;

            @media (min-width:800px) {
                border-top: none;
                flex: 1;
                padding-bottom: 2.5rem;

            }

            &:nth-last-child(1) {
                border-bottom: 1px solid rgba($grayish-blue, .4);

                @media (min-width:800px) {
                    border-bottom: none;
                }
            }

            &.active {
                color: $very-dark-blue;
            }

            &.active::before {
                opacity: 1;
            }

            &::before {
                content: "";
                position: absolute;
                width: 18rem;
                height: 4px;
                background-color: $soft-red;
                top: 100%;
                transform: translateY(-100%);
                opacity: 0;
                transition: opacity .3s;

                @media (min-width:800px) {
                    width: 100%;
                }
            }
        }
    }

    &-feature {
        position: relative;

        @media (min-width:800px) {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 6rem;
            height: 40rem;
        }

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            width: 150%;
            height: 50vw;
            max-height: 28rem;
            border-radius: 0 15rem 15rem 0;
            left: -80%;
            top: 4rem;
            background-color: hsl(231, 69%, 60%);

            @media (min-width:800px) {
                width: 100%;
                left: -120%;
                height: 33rem;
                max-height: 33rem;
                left: -70%;
                top: 8rem;
            }

            @media (min-width:1200px) {
                width: 100%;
                left: -120%;
                max-height: 33rem;
                left: -58%;
                top: 8rem;
                height: 33rem;
            }
        }

        .feature-imgWrapper {
            width: 100%;
            height: 75vw;
            min-height: 27rem;
            max-height: 40rem;
            animation: swipeIn .8s ease-out;

            @media (min-width:800px) {
                text-align: left;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                height: auto;
                max-height: none;
                min-height: none;
                width: 45rem;
                margin-left: -20rem;
            }

            @media (min-width:1000px) {
                margin-left: -10rem;
            }

            @media (min-width:1200px) {
                margin-left: 0;
            }

            &.animAdded {
                animation: swipeOut .8s ease-out forwards;
            }

            img {
                width: 100%;
                object-fit: cover;
                max-width: 45rem;

                @media (min-width:800px) {
                    transform-origin: right;
                    width: 55rem;
                    max-width: 55rem;
                    padding-right: 6rem;
                }
            }
        }

        .feature-textWrapper {
            animation: beVisible .8s linear;
            width: 100%;

            @media (min-width:800px) {
                text-align: left;
                padding-top: 6rem;
                width: 55rem;
                min-width: 55rem;
                padding-left: 6rem;
                padding-right: 4rem;
                padding-bottom: 6rem;
            }

            @media (min-width:1000px) {
                padding-left: 10rem;
                padding-right: 0rem;
                margin-right: -12rem;
            }


            &.animAdded {
                animation: beHidden .8s linear forwards;
            }

            .feature-btn{
                margin-top: 2rem;
            }
        }
    }
}

.downloads {
    display: flex;
    justify-content: center;

    &-wrapper {
        padding-top: 4rem;
        padding-bottom: 8rem;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width:800px) {
            max-width: 120rem;
        }
    }


    &-cards-wrapper {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 30rem;

        @media (min-width:800px) {
            flex-direction: row;
        }

        @media (min-width:1040px) {
            flex-wrap: nowrap;
        }

        .download-card {
            margin-bottom: 4rem;
            width: 28rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 12px 12px 2px rgba($very-dark-blue, .1);
            border-radius: 1rem;
            padding-top: 4rem;
            padding-bottom: 2.5rem;

            @media (min-width:800px) {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
            }

            &:nth-child(2) {
                @media (min-width:1040px) {
                    transform: translateY(4rem);
                }
            }

            &:nth-child(3) {
                @media (min-width:1040px) {
                    transform: translateY(8rem);
                }
            }

            .card-img {
                margin-bottom: 3rem;
            }

            .card-heading {
                font-size: 2rem;
                font-weight: 500;
            }

            .card-desc {
                margin-top: 1.2rem;
                font-size: 1.5rem;
                color: hsl(229, 8%, 60%);
            }

            .card-dots {
                margin-top: 3rem;
            }
            .card-btn {
                width: 85%;
                padding: 1.4rem 1.6rem;
                margin-top: 2.5rem;
                letter-spacing: .5px;
            }
        }
    }
}

.faqs {
    display: flex;
    justify-content: center;

    &-wrapper {
        padding-top: 4rem;
        padding-bottom: 12rem;
        width: 85%;
        max-width: 55rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width:1040px) {
            margin-top: 6rem;

        }
    }

    &-QA {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        details {
            border-bottom: 1px solid rgba($grayish-blue, .2) ;
            width: 100%;
        }

        details:first-child{
            border-top:1px solid rgba($grayish-blue, .2) ;
        }

        details[open] {
            .faqs-question {
                color: $soft-red;
            }

            .faqs-question~* {
                animation: sweep .5s ease-in-out;
            }

            .faqs-arrow {
                transform: rotateZ(180deg);

                path {
                    stroke: $soft-red;
                }
            }
        }

        .faqs-arrow {
            transition: transform .5s;

            path {
                transition: all .5s;
            }
        }

        .faqs-question {
            font-size: 1.6rem;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 500;
            padding-top: 2rem;
            padding-bottom: 2rem;
            color: $very-dark-blue;
            text-align: left;
            outline: none;
            transition: color .3s;
            cursor: pointer;

            &:hover{
                color: $soft-red;
            }

            &::-webkit-details-marker {
                display: none;
            }
        }
    }
}

.register {
    display: flex;
    justify-content: center;
    background-color: hsl(231, 69%, 60%);

    &-wrapper {
        padding-top: 8rem;
        padding-bottom: 4rem;
        width: 85%;
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width:800px) {
            max-width: 55rem;
        }
    }

    &-info {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #fff;
    }

    &-heading {
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
        margin-top: 2rem;
        margin-bottom: 4rem;

        @media (min-width:800px) {
            font-size: 4rem;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        @media (min-width:550px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .form-input {
            outline: none;
            border: none;
            padding: 1.6rem;
            font-size: 1.4rem;
            border-radius: 5px;
            z-index: 2;
            border: 2px solid transparent;

            @media (min-width:550px) {
                width: 65%;
            }

            &::placeholder {
                opacity: .5;
            }
        }

        .form-btn {
            padding: 1.6rem;
            color: #fff;
            font-size: 1.4rem;
            background-color: $soft-red;
            margin-top: 2rem;
            border-radius: 5px;
            transition: all .5s;

            @media (min-width:550px) {
                margin-top: 0;
                width: 32%;
            }

            &:hover {
                background: #fff;
                color: $soft-red;
                border: 2px solid $soft-red;
            }
        }

        .form-warning {
            display: none;
            width: 100%;
            color: #fff;
            text-align: start;
            padding: 1.7rem 1rem 1rem 1rem;
            font-size: 1.2rem;
            font-style: italic;
            background-color: $soft-red;
            border-radius: 5px;
            margin-top: -10px;

            @media (min-width:550px) {
                position: absolute;
                width: 65%;
                top: 100%;
            }
        }

        .form-success {
            width: 100%;
            display: none;
            font-size: 1.2rem;
            color: #fff;
            background-color: rgba(#28a745, .7);
            border-radius: 5px;
            margin-top: -10px;
            font-style: italic;
            padding: 1.7rem 1rem 1rem 1rem;
            text-align: start;

            @media (min-width:550px) {
                position: absolute;
                width: 65%;
                top: 100%;
            }
        }

        .form-error {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 26px;
            transform: translateY(-50%);
            margin-right: 15px;
            z-index: 2;

            @media (min-width:550px) {
                left: 58%;
            }
        }


    }
}

.footer {
    display: flex;
    justify-content: center;
    background-color: hsl(229, 31%, 21%);

    &-wrapper {
        padding-top: 4rem;
        padding-bottom: 4rem;
        width: 85%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width:800px) {
            flex-direction: row;
            justify-content: unset;
            max-width: 120rem;
        }
    }

    &-logo {
        width: max-content;

    }

    &-nav-list {
        width: 80%;
        max-width: 40rem;
        margin-top: 1.5rem;

        @media (min-width:800px) {
            display: flex;
            flex-direction: row;
            margin-top: 0;
            width: auto;
            flex: 3 0 60%;
            max-width: none;
            padding-left: 8rem;
        }

        .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: #fff;
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 1.4rem;
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            transition: color .3s;

            @media (min-width:800px) {
                margin-right: 4rem;
                padding: 0;
            }

            &:hover {
                color: $soft-red;
            }
        }
    }

    &-nav-social {
        max-width: 40rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4rem;

        @media (min-width:800px) {
            margin-top: 0;
            flex: 1 0 10%;
            justify-content: center;
        }

        a {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                path {
                    transition: all .3s;
                    fill: $soft-red;
                }
            }
        }

        a:nth-last-child(1) {
            margin-left: 2rem;
        }
    }
}